
@{
	ViewBag.Title = "Contact";
	Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
	<div class="container">
		<div class="main_title">
			<h2>COMMING SOON</h2>
			<h5>Chức năng đang hoàn thiện</h5>
		</div>
	</div>
</section>