<div>
	<div class="btn-group ps-dropdown">
		<a href="@Url.Action("Login","Login_63130307")" aria-haspopup="true" aria-expanded="false">Login/<i></i></a>
		<ul class="dropdown-menu"></ul>
	</div>
	<div class="btn-group ps-dropdown">
		<a href="@Url.Action("Register","Login_63130307")" aria-haspopup="true" aria-expanded="false">Register<i></i></a>
		<ul class="dropdown-menu"></ul>
	</div>
</div>

